*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#FFECD8;
}
.banner{
    position: relative;
    width: 1400px;
    left: -12px;

}
.platillo{
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 900px;
    margin-top: 120px;
    background-color: #FFAD57;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgb(61, 60, 60);

}
    .nombre-platillo{
        font-size: 62px;
        color: white;
        font-family: 'Roboto', sans-serif;
        z-index: inherit;
    }
    .platillo img{
        position: absolute;
        width: 300px;
        margin-top: -1190px;
        left: 5%;
    }

    .ingredientes p{
        font-size: 39px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        margin-top: 10px;
    }
    .ingredientes li{
        text-decoration: none;
        color: white;
        font-size: 20px;
        text-align: start;
        padding-left: 20px;
    }
    .title {
        font-size: 39px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        margin-top: 10px;
    }
    .preparacion p{
        font-size: 20px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        margin-top: 10px;
        text-align: start;
        padding-left: 30px;
        font: 1em sans-serif;
        padding-top: 30px;
    }